
<app-tarjeta-formulario>
    <div class="p-3 rounded-t flex items-center bg-gray-800 text-white justify-between">
        <div class="flex items-center">
          <h1 class="flex items-center">
              <i [routerLink]="['/dashboard/ingreso_productos/detalles', id]" 
                 class="fas fa-arrow-left border bg-gray-100 text-gray-600 border-gray-300 hover:text-yellow-500 rounded p-2 px-3 shadow cursor-pointer"></i>
              <div class="flex flex-col ml-2">
                  <span class="ml-2 text-xl"> Remito de ingreso </span>
              </div>
          </h1>
        </div>
    </div>
    <div class="px-4 pt-1 pb-5">
      <form
        [formGroup]="ingresoForm"
      >
        <div class="flex flex-col lg:flex-row">
          <div class="w-full mx-2 flex-1 svelte-1l8159u">
              <div class="font-semibold mt-3 text-gray-600 text-sm"> Punto de venta </div>
              <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow text-sm">
                  <input placeholder="Ej. 00001" 
                        class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
                        formControlName="punto_venta"
                        ></div>
          </div>
          <div class="w-full mx-2 flex-1 svelte-1l8159u">
              <div class="font-semibold mt-3 text-gray-600 text-sm"> N° comprobante </div>
              <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow text-sm">
                  <input placeholder="Ej. 00000610"
                         class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
                         formControlName="numero_comprobante"
                    ></div>
          </div>
      </div>      
      </form>      
      <div class="flex-grow mt-3 px-2 relative">
            <span class="text-gray-600 font-semibold text-sm"> Proveedor </span>
            <div *ngIf="proveedorSeleccionado" class="mt-2 flex">
              <span class="text-xs bg-green-100 text-green-500 border border-green-200 p-2 rounded font-semibold"> {{ proveedor.razon_social }} </span>
              <button class="bg-red-100 text-red-500 border border-red-200 py-1 px-2 ml-2 rounded cursor-pointer"
                    (click)="borrarProveedorSeleccionado()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </button>
            </div>
            <div *ngIf="!proveedorSeleccionado" class="flex items-center">
              <input type="text"
                     #txtBuscar 
                     placeholder="CUIT o Razón social" 
                     (keyup.enter)="buscarProveedores()"
                     (keyup)="filtroDescripcion(txtBuscar.value)"
                     class="my-2 text-sm bg-grey-light text-grey-darkest rounded h-10 p-3 focus:outline-none border shadow">          
              <button class="border flex items-center border-gray-300 bg-gray-100 text-gray-800 hover:text-yellow-500 py-2 px-3 rounded ml-2"
                      (click)="buscarProveedores()">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg> 
                  <span class="ml-1">
                    Buscar
                  </span>
              </button>              
            </div>
        
            <!-- Proveedores -->
            <div *ngIf="!proveedorSeleccionado &&  proveedores.length > 0" class="w-11/12 absolute bg-white z-50 border border-gray-200 p-2 rounded shadow">
              <div class="flex items-center justify-between p-2 bg-gray-100 rounded mb-2 border border-gray-300">
                <h1 class="text-gray-700 flex items-center font-semibold"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <span class="ml-1">
                      Buscador de proveedores ({{ proveedores.length }})
                    </span>
                </h1>
                <button (click)="borrarProveedorSeleccionado()" class="bg-red-100 border border-red-200 bg-white p-2 border-gray-200 shadow text-red-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div *ngFor="let proveedor of proveedores" 
                   class="flex my-1 cursor-pointer rounded text-sm border shadow hover:border-yellow-500"
                   (click)="seleccionarProveedor(proveedor)"
                   >
                <div class="p-2">
                  <p class="font-semibold">{{ proveedor.razon_social }}</p>
                  <p class="text-gray-500"> {{ proveedor.condicion_iva }} </p>
                  <p class="text-xs text-gray-500"> CUIT - {{ proveedor.cuit }} </p>
                </div>
              </div>
            </div>      
        </div>  
        <button (click)="actualizarIngreso()" class="bg-gray-100 font-semibold p-2 text-gray-800 hover:text-yellow-500 rounded w-full mt-5 border border-gray-300">
          Actualizar ingreso
        </button>          
    </div>

</app-tarjeta-formulario>

