
<app-tarjeta-formulario>
    <div class="p-4 flex items-center justify-between mr-2">
        <div class="flex items-center">
          <h1 class="flex items-center text-gray-700">
              <i [routerLink]="['/dashboard/ingreso_productos/detalles', id]" 
                 class="fas fa-arrow-left border bg-gray-500 text-white border-gray-300 rounded p-2 px-3 shadow cursor-pointer"></i>
              <div class="flex flex-col ml-2">
                  <span class="ml-2 text-xl text-gray-600"> Ingreso </span>
                  <span class="text-xs mt-1 ml-1 font-semibold border py-1 px-2 rounded text-white bg-yellow-500"> 
                      <i class="fas fa-pencil-alt"></i>
                      Editando ingreso
                  </span>
              </div>
          </h1>
          <i *ngIf="loadingFinal" class="fas fa-spinner animate-spin text-2xl text-gray-400 ml-3"></i>
        </div>
        <div *ngIf="!loadingInicial">
          <button [ngClass]="{'bg-gray-400': loading || loadingFinal, 'bg-gray-500': !loading && !loadingFinal}"
                  class="py-2 px-4 text-white rounded shadow"
                  [disabled]="loading || loadingFinal"
                  (click)="actualizarIngreso()"
          > <i class="fas fa-check"></i> </button>
        </div>
    </div>
    <div *ngIf="!loadingInicial" class="p-4">
      <form
        [formGroup]="ingresoForm"
      >
        <label for="numero_remito" class="font-semibold"> Número de remito </label>
        <input type="text"
               class="block p-2 rounded border shadow mt-2"
               id="numero_remito"
               formControlName="numero_remito"
               placeholder="N° de remito">
      </form>      
      <div class="flex-grow mt-3">
            <span class="font-normal leading-tight font-semibold"> Proveedor </span>
            <div *ngIf="proveedorSeleccionado" class="mt-2 animate__animated animate__zoomIn">
              <span class="text-xs bg-green-500 text-white p-2 rounded font-semibold"> {{ proveedor.razon_social }} </span>
              <span class="bg-red-500 text-white py-1 px-2 ml-2 rounded cursor-pointer"
                    (click)="borrarProveedorSeleccionado()">
                <i class="far fa-trash-alt"></i>
              </span>
            </div>
            <input type="text"
                   *ngIf="!proveedorSeleccionado"
                   #txtBuscar 
                   placeholder="CUIT o Razón social" 
                   (keyup)="buscarProveedor(txtBuscar.value)"
                   class="my-2 w-full text-sm bg-grey-light text-grey-darkest rounded h-10 p-3 focus:outline-none border shadow">          
            
            <!-- Loading -->
            <div *ngIf="loading" class="text-gray-500 w-full">
              <i class="fas fa-spinner animate-spin text-gray-400 ml-2"></i> cargando
            </div>
            
            <!-- Proveedores -->
            <div *ngIf="!proveedorSeleccionado && !loading" class="w-full">
              <div *ngFor="let proveedor of proveedores" 
                   class="animate__animated animate__fadeIn flex my-1 cursor-pointer hover:bg-blue-lightest rounded text-xs border shadow hover:bg-yellow-100"
                   (click)="seleccionarProveedor(proveedor)"
                   >
                <div class="w-8 h-10 text-center py-1">
                  <p class="text-xl p-0 text-grey-dark">•</p>
                </div>
                <div class="w-4/5  h-10 py-3 px-1">
                  <p class="hover:text-blue-dark">{{ proveedor.razon_social }}</p>
                </div>
              </div>
            </div>
          
          </div>            
    </div>
    <div *ngIf="loadingInicial" class="pb-3 ml-2">
        <i class="fas fa-spinner animate-spin text-gray-400 ml-2"></i> Cargando ingreso     
    </div>

</app-tarjeta-formulario>

