<div class="w-11/12 md:w-1/2 mr-auto ml-auto mt-4">
    <div class="md:flex md:items-center p-4">
        <div class="text-gray-800 w-full md:w-1/2">    
            <div class="border rounded shadow md:mr-4 bg-white">
                <h1 class="bg-gray-200 p-2 font-semibold border-b"> Productos en sistema </h1>
                <div class="flex p-3 items-center justify-between">
                    <i class="fas fa-box text-5xl"></i> 
                    <span class="text-4xl"> 200 </span>   
                </div>
            </div>
        </div>    
        <div class="text-gray-800 w-full md:w-1/2 mt-3 md:mt-0">    
            <div class="border rounded shadow bg-white">
                <h1 class="bg-gray-200 p-2 font-semibold border-b"> Alerta de stock </h1>
                <div class="flex p-3 items-center justify-between">
                    <i class="fas fa-box text-5xl"></i> 
                    <span class="text-4xl"> 10 </span>   
                </div>
            </div>
        </div>
    
    </div>
</div>