<div class="animate__animated animate__zoomIn">
    <img class="w-full md:w-2/5 mr-auto ml-auto mt-4 shadow-lg border rounded-full" src="assets/Edificar.png" alt="Imagen de Edificar">
    <div class="text-center text-sm mt-4 text-white mr-auto ml-auto text-lg">
        <p> Sistema de control de inventario </p>
        <p> Versión 1.1.0 </p>    
        <a (click)="descargarGuia()" class="text-yellow-200 font-semibold cursor-pointer" > Descargar guía de usuario </a>
        <br>
    </div>
</div>