<div>
    <img class="gsap-contenido w-full md:w-2/5 mr-auto ml-auto mt-4 shadow-lg border rounded-full" src="assets/Edificar.png" alt="Imagen de Edificar">
    <div class="gsap-contenido text-center text-sm mt-4 text-gray-800 font-semibold mr-auto ml-auto text-lg">
        <p> Sistema de control de inventario </p>
        <p> Versión 3.0.0 </p>    
        <a (click)="descargarGuia()" class="text-yellow-600 font-semibold cursor-pointer" > Descargar guía de usuario </a>
        <br>
    </div>
</div>