
<app-tarjeta-formulario>
    <div class="p-4 flex items-center justify-between mr-2">
        <div class="flex items-center">
            <h1 class="flex items-center text-gray-700">
                <i routerLink="/dashboard/egreso_productos" class="fas fa-arrow-left border bg-gray-500 text-white border-gray-300 rounded p-2 px-3 shadow cursor-pointer"></i>
                <div class="flex flex-col ml-2">
                    <span class="ml-2 text-xl text-gray-600"> Egreso </span>
                    <span class="text-xs mt-1 ml-1 font-semibold border py-1 px-2 rounded text-white bg-yellow-500"> 
                        <i class="fas fa-pencil-alt"></i>
                        Nuevo egreso
                    </span>
                </div>
            </h1>
            <div *ngIf="loading" class="ml-2">
                <i class="fas fa-spinner animate-spin text-gray-400 ml-1 text-2xl"></i> 
            </div>
        </div>
        <div>
          <button   class="py-2 px-4 text-white rounded shadow"
                    [ngClass]="{'bg-gray-400':loading, 'bg-gray-500': !loading}"
                    [disabled]="loading"
                    (click)="crearEgreso()" 
          > <i class="fas fa-check"></i> </button>
        </div>
    </div>
    <form 
        [formGroup]="egresoForm"
        autocomplete="off"
        class="p-4">
        <h1 class="text-xl ml-2 text-gray-700"> Datos de cliente </h1>
        <div class="flex flex-col lg:flex-row">
            <div class="w-full mx-2 flex-1 svelte-1l8159u">
                <div class="font-bold mt-3 text-gray-600 text-sm"> Descripción </div>
                <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow">
                    <input placeholder="Ej. Moreno Lucas" 
                           formControlName="descripcion_cliente"
                           class="p-1 px-2 appearance-none outline-none w-full text-gray-800"
                           ></div>
            </div>
            <div class="w-full mx-2 flex-1 svelte-1l8159u"></div>
        </div>
        <div class="flex flex-col lg:flex-row">
            <div class="w-full mx-2 flex-1 svelte-1l8159u">
                <div class="font-bold mt-3 text-gray-600 text-sm"> Tipo de identificación </div>
                <select class="border shadow rounded p-2 w-full mt-2"
                        formControlName="tipo_identificacion_cliente">
                    <option value="DNI"> DNI </option>
                    <option value="CUIL"> CUIL </option>
                    <option value="CUIT"> CUIT </option>
                </select>
            </div>
            <div class="w-full mx-2 flex-1 svelte-1l8159u">
                <div class="font-bold mt-3 text-gray-600 text-sm"> Identificación </div>
                <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow">
                    <input placeholder="Ej. 34060398"
                           formControlName="identificacion_cliente" 
                           class="p-1 px-2 appearance-none outline-none w-full text-gray-800"></div>
            </div>
        </div>      
    </form>

</app-tarjeta-formulario>

