<div class="mt-1 lg:flex">
    
    <!-- Trazabilidad - Filtrado -->
    <div class="bg-white w-full lg:w-2/5 ml-auto mr-auto h-full lg:ml-1 lg:mr-2 animate__animated animate__zoomIn border rounded"> 
        <div>
            <h2 class="font-semibold leading-tight bg-gray-100 text-gray-600 border-b p-2 mb-2"> Busqueda y Filtrado </h2>
            <!-- Filtros: Varios -->
            <div class="p-3 rounded mt-2 mb-2">

                <div class="bg-gray-100 p-2 border">
                    <label class="text-sm font-semibold text-gray-600"> 
                        <i class="fas fa-box"></i>
                        <span class="ml-2">
                            Filtrado por producto 
                        </span>
                    </label>
                </div>

                <div class="mt-3">
                    <select
                        #txtTipo
                        class="border rounded shadow p-2 text-xs w-full"
                        (change)="filtrarTipos(txtTipo.value)"
                    >
                        <option value=""> Ingreso y Egresos </option>
                        <option value="Ingreso"> Ingresos </option>
                        <option value="Egreso"> Egresos </option>
                    </select>           
                    <select
                        #txtProducto
                        class="border rounded shadow p-2 text-xs mt-2 w-full"
                        (change)="filtrarProducto(txtProducto.value)"
                        >
                            <option value="" class="text-xs"> Todos los productos </option>
                            <option *ngFor="let producto of productos" class="text-xs" [value]="producto._id"> {{ producto.descripcion }} - {{ producto.codigo }} </option>
                    </select>  
                </div>

                <div class="mt-4 bg-gray-100 p-2 border">
                    <label class="text-sm font-semibold text-gray-600"> 
                        <i class="fas fa-calendar"></i>
                        <span class="ml-2">
                            Filtrado por fecha 
                        </span>
                    </label>
                </div>

                <!-- Filtros: Por fecha -->
                <div class="lg:flex lg:items-center mt-3">
                    <input type="date"
                           #txtDespues
                           (change)="fechaDespues(txtDespues.value)"
                           class="border rounded mr-1 shadow p-2 text-xs w-full"
                    >
                    <span class="text-xl font-semibold ml-2 mr-2 hidden"> - </span>
                    <input type="date"
                           #txtAntes
                           class="border rounded shadow p-2 mt-3 lg:mt-0 text-xs w-full"
                           (change)="fechaAntes(txtAntes.value)"
                    >
                </div>            
            </div>
        </div>

        <div class="mt-2 px-3">
            <div class="bg-gray-100 p-2 border">
                <label class="text-sm font-semibold text-gray-600"> 
                    <i class="fas fa-user"></i>
                    <span class="ml-2">
                        Filtrado por Cliente/Proveedor 
                    </span>
                </label>
            </div>
            <input type="text"
                   #txtParametro
                   placeholder="Cliente/Proveedor"
                   class="p-2 border rounded w-full mt-3 shadow text-sm">
        </div>

        <div class="p-2">
            <div class="bg-gray-100 p-2 mt-2 border">
                <label class="text-sm font-semibold text-gray-600"> 
                    <i class="fas fa-copy"></i>
                    <span class="ml-2">
                        Paginación
                    </span>
                </label>
            </div>

            <select #txtRegistros
                    class="p-2 text-sm border rounded w-full mt-3 shadow">
                <option value=5> 5 Registros </option>
                <option value=10> 10 Registros </option>
                <option value=20> 20 Registros </option>
                <option value=20> 50 Registros </option>
                <option value=20> 100 Registros </option>
            </select>

        </div>

        <button class="border border-gray-200 shadow bg-gray-100 p-2 hover:bg-yellow-100 mt-4 text-gray-700 w-full"
            [disabled]="loading"
            (click)="buscar(txtParametro.value, txtRegistros.value)">
                <span *ngIf="loadingBuscar">
                    <i class="fas fa-spinner animate-spin"></i>
                    Cargando
                </span> 
                <span *ngIf="!loadingBuscar">
                    <i class="fas fa-search"></i>
                    Buscar
                </span>
        </button>

    </div>

    <!-- No se encontraron resultados -->
    <div class="border shadow rounded w-full p-4 h-full lg:w-3/5 mr-auto ml-auto mt-2 lg:mt-0 bg-white animate__animated animate__zoomIn" *ngIf="total == 0 && !inicio && !loading">
        <div class="bg-gray-100 text-sm p-2 font-semibold text-gray-600 ronded p-3">
            <i class="fas fa-exclamation-circle mr-1"></i>
            No se encontraron resultados
        </div>
    </div>

    <div class="border shadow rounded-t w-full lg:w-3/5 mr-auto ml-auto mt-2 lg:mt-0 bg-white animate__animated animate__zoomIn" *ngIf="total !== 0">

        <!-- Titulo y ordenamiento -->
        
        <div class="flex items-center justify-between bg-gray-100 p-2 border-b">
            <div class="flex">
                <h1 class=" font-semibold text-xl text-gray-600 ml-4"> Trazabilidad ({{ total }}) </h1>
                <i *ngIf="loading" class="fas fa-spinner animate-spin text-2xl text-gray-500 ml-2"></i>
            </div>
            <div>
                <button class="px-3 py-2 border border-gray-300 shadow rounded cursor-pointer bg-white"
                        title="Ordenar por fecha"
                        [ngClass]="{'bg-gray-100': loading}" 
                        [disabled]="loading"
                        (click)="ordenarFecha()">
                    <i *ngIf="ordenar.direccion === -1" class="fas fa-sort-amount-down text-gray-700"></i> 
                    <i *ngIf="ordenar.direccion === 1" class="fas fa-sort-amount-down-alt text-gray-700"></i> 
                </button>
            </div>
        </div>

        <!-- Paginación -->

        <div class="flex items-center justify-center animate__animated animate__zoomIn mt-6">
            <button class="mr-4 px-4 py-2 border rounded shadow text-gray-700 cursor-pointer text-xs"
                    [ngClass]="{'bg-gray-100': loading}"
                    [disabled]="loading"
                    (click)="actualizarDesdeHasta('anterior')"> 
                    <i class="fas fa-arrow-left"></i> 
            </button>
            <div class="text-gray-500 text-xs font-semibold"> Mostrando {{ total > 0 ? paginacion.desde + 1 : 0 }} - {{ paginacion.hasta < total ? paginacion.hasta : total }} de {{ total }} elementos </div>
            <button class="ml-4 px-4 py-2 border rounded shadow text-gray-700 cursor-pointer text-xs"
                    [ngClass]="{'bg-gray-100': loading}"
                    [disabled]="loading"
                    (click)="actualizarDesdeHasta('siguiente')"> <i class="fas fa-arrow-right"></i> 
            </button>
        </div>


        <!-- Listado de trazabilidad -->

        <div class="px-6 py-2 mt-4">
            <div *ngFor="let traza of trazabilidad"
                [routerLink]="traza.tipo === 'Ingreso' ? ['/dashboard/ingreso_productos/detalles/', traza.documento] : ['/dashboard/egreso_productos/detalles/', traza.documento]"
                class="animate__animated animate__zoomIn shadow border rounded mb-3 cursor-pointer"
                [ngClass]="{'border-green-200 hover:bg-green-100': traza.tipo === 'Ingreso', 'border-red-200 hover:bg-red-100': traza.tipo === 'Egreso'}">
                
                <div class="text-white px-2 py-1 flex items-center justify-between rounded-t"
                    [ngClass]="{'bg-green-600': traza.tipo === 'Ingreso', 'bg-red-600': traza.tipo === 'Egreso'}"
                >
                    <div class="font-semibold text-xs">
                        <h1> {{ traza.tipo === 'Ingreso' ? 'Remito' : 'Documento de venta' }}</h1>
                        <h1> Nro. {{ traza.documento_codigo }} </h1>
                    </div>
                    <div class="p-1 border border-gray-300 bg-white shadow lg:inline-block text-xs bg-white rounded"
                    [ngClass]="{'text-green-700':traza.tipo === 'Ingreso', 'text-red-700':traza.tipo === 'Egreso'}"
                    >
                    <div class="w-max">
                        <span class="font-semibold"> {{ traza.stock_anterior }} </span>
                        <i class="fas fa-arrow-right"></i>
                        <span class="font-semibold"> ({{ traza.tipo === 'Ingreso' ? '+' : '-'}}{{traza.cantidad}}) </span>
                        <i class="fas fa-arrow-right"></i>
                        <span class="font-semibold"> {{ traza.stock_nuevo }} </span>
                    </div>
                </div>
                </div>
                <div class="flex items-center justify-between p-3">
                    <div class="text-gray-800">
                        <div>
                            <p class="text-xs font-semibold"> {{ traza.persona_empresa }} </p>
                            <p class="text-xs"> 
                                <span class="font-semibold"> {{ traza.producto.codigo}} </span>
                                <span> - {{ traza.producto.descripcion }} </span>
                            </p>
                            <p class="text-xs font-semibold"
                            [ngClass]="{'text-green-700' : traza.tipo === 'Ingreso', 'text-red-700' : traza.tipo === 'Egreso'}"
                            > Cantidad: {{ traza.cantidad }} </p>
                            <p>
                                <span class="font-semibold text-xs text-gray-700"> <i class="far fa-calendar"></i> {{ traza.createdAt | fecha }} </span>
                            </p>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <br>
</div>

<br>