
.bg-orange-100 {
    background-color: #f19200;
}

.bg-orange-200 {
    background-color: #ef8700;
}

.bg-orange-400 {
    background-color: #ed7505;
}

.bg-orange-600 {
    background-color: #e9600a;
}

.bg-orange-600 {
    background-color: #e9600a;
}

.fondoEdificar {
    background: rgb(251,140,95);
    background: linear-gradient(60deg, rgba(251,140,95,1) 0%, rgba(247,169,49,1) 90%);
}

.colorButton {
    background-color: #e9600a;
}