
.bg-orange-100 {
    background-color: #f19200;
}

.bg-orange-200 {
    background-color: #ef8700;
}

.bg-orange-400 {
    background-color: #ed7505;
}

.bg-orange-600 {
    background-color: #e9600a;
}

.bg-orange-600 {
    background-color: #e9600a;
}

.fondoEdificar {
    background: rgb(253,159,110);
    background: linear-gradient(90deg, rgba(253,159,110,1) 0%, rgba(251,199,119,1) 100%);
}

.colorButton {
    background-color: #e9600a;
}

/* Para evitar cuadro azul en celular al hacer clic */
a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
button { -webkit-tap-highlight-color: rgba(0,0,0,0); }
div { -webkit-tap-highlight-color: rgba(0,0,0,0); }
