<div class="mt-1 ml-2 lg:flex">
    <div class="bg-white p-4 lg:h-full w-11/12 animate__animated animate__zoomIn mr-auto ml-auto lg:mr-0 lg:ml-0 lg:w-1/2 rounded shadow">
        <div class="p-3 text-gray-500" *ngIf="loadingRemito">
            <i class="fas fa-spinner animate-spin mr-2"></i>
            Cargando remito
        </div>
        <div *ngIf="!loadingRemito">
            <div class="flex items-center justify-between bg-gray-100 p-2 rounded border">
                <h1 class="font-semibold text-gray-600"> Remito Nro. {{ ingreso.numero_remito }} </h1>
                <i [routerLink]="['/dashboard/ingreso_productos/editar', ingreso._id]" 
                   *ngIf="ingreso.estado == 'Pendiente'"
                   title="Editar ingreso" 
                   class="fas fa-pencil-alt text-gray-600 mr-2 py-2 px-3 border rounded border-gray-300 bg-white hover:bg-yellow-100 cursor-pointer"></i>
            </div>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Proveedor </div>
                    <div class="block p-2 rounded border border-gray-200 shadow mt-2 bg-white text-sm">
                        {{ ingreso.proveedor.razon_social}}
                    </div>
                </div>
            </div> 
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Condición frente al IVA </div>
                    <div class="block p-2 rounded border shadow mt-2 border border-gray-200 bg-white text-sm">
                        {{ ingreso.proveedor.condicion_iva }}
                    </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> CUIT </div>
                    <div class="block p-2 rounded border shadow mt-2 border border-gray-200 bg-white text-sm">
                        {{ ingreso.proveedor.cuit }}
                    </div>
                </div>
            </div> 
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Domicilio comercial </div>
                    <div class="block p-2 rounded border border-gray-200 shadow mt-2 bg-white text-sm">
                        {{ ingreso.proveedor.domicilio }}
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="ingreso.estado !== 'Pendiente'" class="p-2 text-center text-sm border border-green-200 text-gray-600 w-full font-semibold bg-green-100 mt-4 rounded">
                    <i class="fas fa-check text-green-500"></i>
                    Completado el {{ ingreso.fecha_ingreso | fecha }}        
                </div>
                <button *ngIf="ingreso.estado === 'Pendiente'" class="p-2 text-center text-sm border border-gray-300 text-gray-600 w-full font-semibold bg-gray-100 hover:bg-green-200 mt-4 rounded"
                        (click)="completarIngreso()"> 
                    <i class="fas fa-check text-green-500"></i>
                    Completar ingreso 
                </button>    
            </div>
        </div>

    </div>

    <div class="bg-white w-11/12 lg:w-1/2 ml-auto lg:ml-2 mt-2 lg:mt-0 mr-auto lg:mr-2 p-4 lg:h-full rounded animate__animated animate__zoomIn">
        
        <!-- Detalle de productos -->

        <div class="p-3 text-gray-500" *ngIf="loadingProductos">
            <i class="fas fa-spinner animate-spin mr-2"></i>
            Cargando productos
        </div>

        <div *ngIf="!loadingProductos">
            <div class="flex items-center justify-between bg-gray-100 p-2 rounded border">
                <h1 class="font-semibold text-gray-600"> Productos ({{ total }}) </h1>
                <i [routerLink]="['/dashboard/ingreso_productos/nuevo-producto', ingreso._id]" 
                   *ngIf="ingreso.estado == 'Pendiente'" 
                   title="Agregar productos"
                   class="fas fas fa-box-open text-gray-600 px-3 py-2 bg-white mr-2 cursor-pointer border border-gray-300 hover:bg-yellow-100 rounded"></i>
            </div>
            <div class="bg-gray-100 p-2 mt-2 border border-gray-200 rounded text-gray-600 text-sm" *ngIf="!tieneProductos && !loadingCargando">
                <i class="fas fa-exclamation-circle"></i>
                Debes agregar al menos un producto    
            </div> 
            <div *ngIf="tieneProductos">
                <div *ngIf="ingreso.estado != 'Completado'" class="mt-2 text-center">
                    <select class="border p-2 rounded shadow text-xs"
                            [disabled]="loadingCargando"
                            #txtActivo
                            (change)="filtrarActivo(txtActivo.value)">
                                <option value=""> Todos </option>
                                <option value=true> Productos pendientes </option>
                                <option value=false> Productos ingresados </option>
                    </select>
                </div>
                <div class="flex items-center justify-center mt-3">
                    <button class="mr-4 px-4 py-2 border rounded shadow hover:bg-yellow-100 text-gray-700 cursor-pointer bg-white text-xs"
                            (click)="actualizarDesdeHasta('anterior')"
                            [ngClass]="{'bg-gray-100':loadingCargando}"
                            [disabled]="loadingCargando"> 
                                <i class="fas fa-arrow-left"></i> 
                    </button>
                    <div class="text-gray-500 text-xs font-semibold"> Mostrando {{ total > 0 ? paginacion.desde + 1 : 0 }} - {{ paginacion.hasta < total ? paginacion.hasta : total }} de {{ total }} elementos </div>
                    <button class="ml-4 px-4 py-2 border rounded shadow hover:bg-yellow-100 text-gray-700 cursor-pointer bg-white text-xs" 
                            (click)="actualizarDesdeHasta('siguiente')"
                            [ngClass]="{'bg-gray-100':loadingCargando}"
                            [disabled]="loadingCargando"
                            > <i class="fas fa-arrow-right"></i> 
                    </button>
                </div>
            </div>
                
            <div *ngIf="total === 0 && tieneProductos" class="bg-gray-100 px-2 py-3 border shadow text-center mt-2 text-gray-700 font-semibold text-sm">
                No se encontraron productos
            </div>
    
            <!-- Lista de productos -->
    
            <div class="mt-4">
                <div *ngFor="let producto of productos" 
                     class="animate__animated animate__fadeIn border shadow rounded p-2 m-2 font-semibold flex items-center justify-between mt-3"
                     [ngClass]="{'bg-green-100 border-green-300': !producto.activo, 'bg-white border-gray-200': producto.activo}"
                     >
                    <div>
                        <span class="block"> {{ producto.producto.codigo }} </span>
                        <span class="block text-xs text-gray-600"> {{ producto.producto.descripcion }}  </span>
                        <span class="block text-sm font-semibold"> cantidad: {{ producto.cantidad }} ({{ producto.producto.unidad_medida.descripcion }}) </span>
                    </div>
        
                    <div *ngIf="producto.activo" class="flex w-max">
                        <button title="Ingreso parcial" 
                                [disabled]="loadingCargando"
                                class="py-1 px-2 rounded border border-green-200 text-green-500 mr-2 shadow hover:bg-green-400 hover:text-white cursor-pointer"
                                [ngClass]="{'bg-green-100':loadingCargando, 'bg-green-100':!loadingCargando}"
                                (click)="ingresoParcial(producto._id)"
                              > 
                              <i class="fas fa-check"></i> 
                        </button>
                        
                        <button title="Eliminar producto"
                                [disabled]="loadingCargando" 
                                class="py-1 px-3 rounded border border-red-200 text-red-500 hover:bg-red-400 shadow hover:text-white cursor-pointer"
                                [ngClass]="{'bg-red-100':loadingCargando, 'bg-red-100':!loadingCargando}"
                                (click)="eliminarProducto(producto._id)"
                              > 
                            <i class="fas fa-times"></i> 
                        </button>
                    </div>
                    
                    <div *ngIf="!producto.activo" class="py-1 px-2 rounded bg-white border border-green-300 text-green-500 x-max text-sm"> 
                        <span> {{ producto.fecha_ingreso | fecha }} </span>
                    </div>
                </div>
            </div>
        </div>
            
        </div>

</div>
